
.navbar{
  display: flex;
  background-color: rgb(37, 46, 49);
  color: white;
  height: 10vh;
}

.logo{
  margin-left: 2em;
  margin-top: -.02em;
}

.links{
  display: flex;
  justify-content: right;
  color: white;
  margin-left: 5em;
  text-decoration: none;
}