
.nav{
  display: flex;
  justify-content: space-around;
  background-color: rgb(37, 46, 49);
  color: white;
  height: 10vh;
}

.nav-links{
  display: flex;
  list-style: none;
}

.navStyle{
  color: white;
  list-style: none;
  margin-left: 2em;
}

li{
  list-style: none;
}  